<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta content="telephone=no" name="format-detection"/>
    <title>test</title>
</head>
<body>
<section>
    <header>
    </header>
    <section>
    </section>
    <footer>
    </footer>
</section>
<script type="text/javascript" src="zepto.js"></script>
<script type="text/javascript" src="wap-util.js"></script>
<script type="text/javascript" src="wap-cmp.js"></script>
<script type="text/javascript" src="wap-cmp-ui.js"></script>
<script>
   var uic =  new  UIComponent();
</script>
</body>
</html>

